@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);

@tailwind base;
@tailwind components;
@tailwind utilities;

.feather{
    font-family: "Feather Bold";
}

.custom-shadow-1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

@keyframes typing {
    0% { width: 0 }
    50% { width: 100% }
    100% { width: 0}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  @keyframes moveElements {
    to {
      top: 700px;
    }
  }

  .moveDown {
    animation: moveElements 30s linear infinite;
  }